<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/styles.css")" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1><span style="color:darkgray">The Loop Leader</span></h1>
        <h3><span style="color:red">Helping you lead.</span></h3>
        <nav class="horizontalNav">
            <ul>
                <li>@Html.ActionLink("Home", "/", "Home")</li>
                <li>@Html.ActionLink("Information", "Information", "Home")</li>
                <li>@Html.ActionLink("Order", "Order", "Home")</li>
                <li>@Html.ActionLink("About Us", "About Us", "Home")</li>
                <li>@Html.ActionLink("Contact", "/", "Contact")</li>
            </ul>
        </nav>
    </header>
    <br />
    <section>
        <nav class="verticalNav">
            <ul>

                <li>@Html.ActionLink("Log In", "Login", "Account")</li>
                <li>@Html.ActionLink("Register", "AddMember", "Account")</li>
            </ul>
        </nav>
    </section>
    <div>
        @RenderBody()
    </div>
    <footer>
        &copy GroupName, 2014
    </footer>
</body>
</html>